body {
  font-family: "Iowan Old Style", "Ovo", "Hoefler Text", Georgia, "Times New Roman", "TIBch", "Source Han Sans", "PingFangSC-Regular", "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", "Droid Sans Fallback", "WenQuanYi Micro Hei", sans-serif;
  letter-spacing: 1px;
  background: #f5f5d8;
}

.container, .container .post, .container .post .highlight {
  max-width: 800px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

blockquote {
  background-color: #f3f4f7;
  margin: 0;
  margin-top: 10px;
  border: 1px solid #e2e3e6;
  border-left: 5px solid #e2e3e6;
  border-radius: 2%;
  padding: 5px 10px;
  font-style: normal;
}


table th {
  color: #333;
  background-color: #ababab;
}

table th, table tr {
  border: 1px solid #eee;
}

.utterances {
  max-width: 100%;
}
