[submodule "gofyne"]
	path = gofyne
	url = https://github.com/poloxue/fyne-chinese.git
[submodule "mytermenv"]
	path = mytermenv
	url = https://github.com/poloxue/docs.mytermenv.git
[submodule "backtrader"]
	path = backtrader
	url = https://github.com/poloxue/docs.backtrader.git
