<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
  {{ if and (gt .WordCount 400 ) (or (eq .Site.Params.toc "floating") (eq .Site.Params.toc "both") )}}
  <div class="container-wide wrapper">
    {{ partial "head.html" . }}

    {{ partial "content_floating_toc.html" . }}

    <div class="post">
      <img style="width: 85%" src="https://cdn.jsdelivr.net/gh/poloxue/images@main/wechat.png" />
      {{ partial "utterance.html" . }}
    </div>
  </div>
  {{ else }}
  <div class="container wrapper">
    {{ partial "head.html" . }}

    {{ partial "content_static.html" . }}
    <div class="post">
      <img style="width: 85%" src="https://cdn.jsdelivr.net/gh/poloxue/images@main/wechat.png" />
      {{ partial "utterance.html" . }}
    </div>
  </div>
  {{ end }}

  {{ partial "footer.html" . }}
  {{ if and (gt .WordCount 400 ) (or (eq .Site.Params.toc "floating") (eq .Site.Params.toc "both") )}}
  {{ partial "toc_script.html" . }}
  {{ end }}
</body>

{{ if .Params.katex }} {{ partial "katex.html" . }}{{ end }}

</html>
