@import "components/utterance";

body {
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

.post-header {
    padding-left: 30px;
}
.post-content {
    margin-top: 10px;
    background-color: #32383b;
    padding: 10px 30px;
    border: 1px #555 solid;
}

.post-content table {
    width: 100%;
    border: 1px #555 solid;
    border-spacing: 0px;
    th, td {
        padding: 5px 10px;
        border: 1px #555 solid;
    }
}

.post-content strong {
    color: #d9d9d9;
}
