@import "components/utterance";

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

.post-header {
    padding-left: 30px;
}
.post-content {
    margin-top: 10px;
    background-color: #32383b;
    padding: 10px 30px;
    border: 1px #555 solid;
}
