{{ if .Page.Params.show_pageviews | default true }}
<span id="{{ .File.UniqueID }}" title="{{ i18n "article.page_views" }}">0 views</span> 
<script>
  var r = new XMLHttpRequest();
  r.addEventListener('load', function() {
    document.getElementById('{{ .File.UniqueID }}').innerText = JSON.parse(this.responseText).count_unique + " views"
  })
  r.open('GET', "https://poloxue.goatcounter.com/counter/" + encodeURIComponent({{ .RelPermalink }}.replace(/(\/)?$/, '')) + '.json')
  r.send()
</script>
{{ end }}
